<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar autor</title>
</head>
<body>

    <h2>Novo Autor</h2>

    <form method="POST">
    <label>Nome:</label><br>
    <input type="text" name="nome" required><br>

    <label>Nacionalidade:</label><br>
    <input type="text" name="nacionalidade"><br>

    <label>Data de nascimento:</label><br>
    <input type="date" name="nascimento"><br>

    <label>Biografia:</label><br>
    <textarea name="biografia"></textarea><br>

    <button type="submit">Salvar</button>
    </form>

</body>
</html>
